/* ------------------------ GERAL ------------------------ */
.pgdescarte {
  color: #000;
  font-size: 1.8rem;

}

.pgdescarte h1 {
  color: #0d4f8c;
  font-size: 4rem;
}

/* ------------------------ DESCARTE INTELIGENTE ------------------------ */
.descarte1 {
  width: 100%;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.BtnDescartar {
  background-color: #0D81E4;
  color: #fff;
  margin-left: 40px;
  margin-top: 50px;
  width: 200px;
  height: 50px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BtnDescartar:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(13, 129, 228, 0.4);
}


.textd1 {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.textd1 h1 {
  margin-bottom: 1.5rem;
}

.textd1 p {
  color: #060e24;
  text-align: start;
  padding-left: 7vw;
}

.imglocal {
  width: 25%;
  max-width: 400px;
}

.imglocal img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ------------------------ POR QUE DESCARTAR? ------------------------ */
.descarte2 {
  width: 70%;
  height: 500px;
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.descarte2 h1 {
  color: #0d4f8c;
  font-size: 4.5rem;
  margin-bottom: 1.5rem;
}

.descarte2 p {
  color: #060e24;
  margin-top: 0;
}


/* ------------------------ FAIXA ------------------------ */
.fx {
  width: 100%;
  height: 150px;
  background-color: #0d4f8c;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.faixa_azul {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.faixadd {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textfx {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 2rem;
  text-align: center;
}

.fx h1 {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 2.5rem;
  text-align: center;
}

/* ------------------------ PASSO A PASSO ------------------------ */
.Passoapasso {
  width: 100%;
}

.conteudopp {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.c1 {
  padding-left: 5vw;
}

.c1,
.c2,
.c3,
.c4 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.Pp,
.Sp,
.Tp,
.Qp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: #1a73e8;
  border-radius: 10px;
}

.n1,
.n2,
.n3,
.n4 {
  color: white;
  font-size: 4rem;
  margin: 0;
}

.frasepp {
  padding-top: 3vh;
  font-size: 1.5rem;
  width: 100%;
  min-width: 280px;
  text-align: center;
}

.frasepp1,
.frasepp2,
.frasepp3,
.frasepp4 {
  font-size: 1.5rem;
  width: 45%;
  min-width: 280px;
  text-align: center;
}

.mao,
.lixo,
.anad,
.pontoc {
  width: 40%;
  max-width: 300px;
}

/* ------------------------ KIT DE COLETA ------------------------ */
.kitdescarte {
  width: 100%;
  margin-top: 100px;
}

.conteudokit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.textkit {
  width: 100%;
  text-align: center;
}

.textkit h1 {
  color: #0d4f8c;
  font-size: 3rem;
  margin-bottom: 20px;
}

.textkit p {
  color: #060e24;
  font-size: 1.6rem;
  width: 800px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.informacaokit {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.frase1,
.frase2,
.frase3 {
  width: 300px;
  height: 80px;
  border-radius: 8px;
  background-color: #0d81e4;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.frase1:hover,
.frase2:hover,
.frase3:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px 5px #3ff5ef;
}

.imgkit {
  width: 45%;
  max-width: 500px;
}

.imgkit img {
  width: 100%;
  object-fit: contain;
}

/* ------------------------ PONTOS DE COLETA ------------------------ */
.pontos {
  width: 100%;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;

}

.conteudoponto {
  width: 45%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.conteudoponto h1 {
  color: #0d4f8c;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
}

.conteudoponto p {
  text-align: center;
  font-size: 1.5rem;
}

.botao {
  width: 60%;
  max-width: 350px;
  height: 60px;
  background-color: #0d81e4;
  border-radius: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 50px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.botao:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px 5px #3ff5ef;

}

.botaotexto {
  color: white;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.btlocal {
  width: 25px;
  height: 25px;
}

.pessoapg {
  width: 45%;
  max-width: 400px;
}

/* ------------------------ RESPONSIVO ------------------------ */
@media (max-width: 1024px) {

  .textd1,
  .textd2,
  .textkit,
  .conteudoponto {
    width: 90%;
  }

  .imglocal,
  .imgkit,
  .mao,
  .lixo,
  .anad,
  .pontoc,
  .pessoapg {
    width: 50%;
    max-width: 280px;
  }

  .fx {
    height: 100px;
  }

  .fx h1,
  .textfx {
    font-size: 1.8rem;
  }

  .frasepp1,
  .frasepp2,
  .frasepp3,
  .frasepp4 {
    width: 90%;
  }

  .conteudoponto h1 {
    font-size: 2.2rem;
  }

  .botao {
    width: 80%;
  }

  .textd1 h1 {
    font-size: 2.2rem;
    text-align: center;
  }

  .textd1 p {
    font-size: 1.2rem;
    padding-left: 5vw;
    text-align: center;
  }

  .descarte2 h1 {
    font-size: 2.5rem;
  }

  .descarte2 p {
    font-size: 1.2rem;
    width: 85%;
  }
}

@media (max-width: 768px) {

  .pgdescarte h1,
  .textd1 h1,
  .textd2 h1,
  .descarte2 h1 {
    font-size: 2.2rem;
    text-align: center;
  }

  .textkit h1 {
    font-size: 1.8rem;
  }

  .textkit p {
    font-size: 1.1rem;
    width: 90%;
  }

  .fx {
    height: 80px;
  }

  .fx h1,
  .textfx {
    font-size: 1rem;
  }

  .Pp,
  .Sp,
  .Tp,
  .Qp {
    width: 70px;
    height: 70px;
  }

  .n1,
  .n2,
  .n3,
  .n4 {
    font-size: 2rem;
  }

  .frasepp,
  .frasepp1,
  .frasepp2,
  .frasepp3,
  .frasepp4 {
    width: 95%;
    font-size: 1rem;
    padding: 0 10px;
  }

  .frasepp {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .frasepontos {
    margin-top: 40px;
   
  }

  .conteudoponto h1 {
    font-size: 1.8rem;
  }

  .conteudoponto p {
    font-size: 1.2rem;
  }

  .botao {
    width: 90%;
    height: 45px;
  }

  .botaotexto {
    font-size: 0.95rem;
  }

  .imglocal,
  .imgkit,
  .mao,
  .lixo,
  .anad,
  .pontoc,
  .pessoapg {
    width: 70%;
    max-width: 220px;
  }

  .BtnDescartar {
    width: 40%;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .frase1,
  .frase2,
  .frase3 {
    width: 90%;
    height: auto;
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
  }

  .frase1{
    font-size: 15px;
  }
  
  .textd1 h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 30px;
  }


  .textd1 p {
    font-size: 1rem;
    padding-left: 5vw;
    text-align: center;
  }

  .descarte2 h1 {
    font-size: 1.8rem;
  }

  .descarte2 p {
    font-size: 1rem;
    width: 90%;
  }
}