.Med {
    width: 100%;
    height: 640px;
    float: left;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Medgur {
    width: 40%;
    height: 400px;
    float: left;
    transition: transform 0.4s ease;
    background-size: cover;
}

.Medgur:hover {
    transform: scale(1.03);

}

.Pequeno {
    color: black;
    font-size: 30px;
    margin-left: 50px;

}

/*************************************************/

@media screen and (max-width: 767px) {
  .Med {
    flex-direction: column;
    height: auto;
    padding: 30px 20px;
  }

  .Medgur {
    width: 100%;
    height: 250px;
    float: none;
    margin-bottom: 20px;
  }

  .Pequeno {
    font-size: 20px;
    margin-left: 0;
    padding: 0 10px;
  }
}
