@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
  font-family: "Fredoka", sans-serif;
}

.apiBtn {
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #0D4F8C;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  margin: auto;
}

.apiBtn img {
  width: 30px;
  height: 30px;
}

.container {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  overflow-y: auto;
  padding: 40px 10px;
}

.conteudo {
  max-width: 80%;
  margin: auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.conteudo h1 {
  margin: auto;
  font-size: 40px;
  width: 50%;
  height: 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0D4F8C;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.conteudo h1 span {
  font-size: 25px;
  margin-bottom: 10px;
}

video {
  width: 50%;
  border: 2px solid #bcdcf8;
  border-radius: 10px;
  margin-top: 10px;
  
}

.resultado {
  text-align: left;
  margin-top: 20px;
  white-space: pre-wrap;
  width: 50%;
  min-height: 200px;
  background-color: white;
  color: black;
  box-shadow: 0 0 1px 3px #0D4F8C;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.botao {
  margin-top: 10px;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #0D4F8C;
  color: white;
  box-shadow: 0 0 1px 3px #0D4F8C;
  cursor: pointer;
}

.fechar {
  width: 50px;
  height: 50px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  font-size: 50px;
}

.lista button {
  margin-top: 20px;
  margin-right: 20px;
  border-style: none;
  background-color: #0D4F8C;
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  cursor: pointer;
}

.info {
  width: 50px;
  height: 50px;
  background-color: #0D4F8C;
  border-radius: 50%;
  border-style: none;
  position: relative;
  font-size: 35px;
  cursor: pointer;
  color: white;
}

.funções {
  width: 9%;
  display: flex;
  justify-content: space-between;
}

.row {
  width: 100%;
  height: 4%;
  display: flex;
  justify-content: space-between;
}
.uso {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(10, 10, 10, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.usoBox {
  background: white;
  max-width: 90%;
  width: 500px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  text-align: center;
  animation: fadeIn 0.4s ease;
}

.fecharUso {
  left: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  border: none;
  cursor: pointer;
  background-color: black;
  border-radius: 50%;
  color: white;
}

.uso h1 {
  margin: 0 auto;
  margin-bottom: 15px;
  font-size: 1.8rem;
}

.uso p {
  width: 78%;
  font-size: 1.1rem;
  text-align: left;
  line-height: 1.6;
  margin: auto;
}

.uso h2 {
  margin-top: 25px;
  color: #b30000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


.container, .container * {
  font-size: inherit;
}

.resultado {
  white-space: pre-line; 
}

@media (max-width: 1180px){
.conteudo h1 {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 2.5rem;
  width: 100%;
}

.conteudo h1 span {
  font-size: 1.3rem;
}

video {
  width: 80%;
}
.resultado {
  width: 80%;
}
}

@media (max-width: 768px) {
  .apiBtn {
    width: 50px;
    height: 50px;
  }

  .apiBtn img {
    width: 50%;
    height: 50%;
  }

  .botao {
    font-size: 0.9rem;
  }
.conteudo h1 {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 2.4rem;
  width: 100%;
}

.conteudo h1 span {
  font-size: 1.2rem;
}
  .aumenta,
  .diminui {
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
  }

  
  video {
  width: 80%;
}
.resultado {
  width: 80%;
}
}

@media (max-width: 480px) {
  .botao {
    width: 50%;
  }

.conteudo h1 {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 1.8rem;
  width: 100%;
}

.conteudo h1 span {
  font-size: 1rem;
}

  video {
  width: 80%;
}
.resultado {
    font-size: 0.9rem;
  width: 80%;
}
}